# HydroSOS Streamflow Status Product Methodology
#### Jose Valles (jose.valles.leon@gmail.com)

In [1]:
# Import libraries
import os
import sys
import requests
import json 

from IPython.display import HTML


# This code line allows to remove warning produce by verify = False
from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

Import HydroSOS_scripts module package \
Make sure that in the path command is defined the folder path of the HydroSOS_script package

In [2]:
# Define the path to the python HydroSOS Package
sys.path.append('..')

import HydroSOS_scripts.get_status_product as SOS
import HydroSOS_scripts.aggregate_variable as aggvar

## Test HydroSOS Package using a single csv file
First, we are going to test the package for a single streamflow location. \
the user must provide the input directory of the file (or files) and the filename

In [28]:
input_directory = '../data/'
filename = '1630.csv'

We will use the import_data function which allows to import data from a csv file \
Recall that the csv file should have three columns: stationid, date, flow,

In [30]:
if 'waterbalance' in input_directory:
    # Operación si 'waterbalance' está en el input_directory
    print("Realizando la operación para 'waterbalance'")
    MONTHLY_DISCHARGE, stationid = aggvar.import_monthly(input_directory, filename)
    # Aquí puedes agregar la operación que deseas
else:
    # Operación si 'waterbalance' no está en el input_directory
    print("Realizando operación para serie diaria de caudales en estaciones hidrometrica")
    flowdata, stationid = aggvar.import_data(input_directory, filename)
    MONTHLY_DISCHARGE = aggvar.calculate_monthly(flowdata)
    # Aquí puedes agregar la operación alternativa

HTML(MONTHLY_DISCHARGE.tail(12).to_html())

Realizando operación para serie diaria de caudales en estaciones hidrometrica

AttributeError: 'str' object has no attribute 'strftime'

The workflow of this python package is: 
* convert daily to monthly discharge
* calculate the percentage of average based on the monthly climatology
* calculate the rank percentile
* using the Weibull formula, we assign the status categories (1-LowFlow, 2-BelowNormal, 3-Normal, 4-AboveNormal, 5-HighFlow)

In [5]:
MONTHLY_STATUS = SOS.monthly_status(MONTHLY_DISCHARGE)
HTML(MONTHLY_STATUS.tail(12).to_html())

In [6]:
output_directory = '../output_csv/01_month/'
filename = stationid

SOS.export_csv(MONTHLY_STATUS,output_directory,filename)

CSV FILE GENERATED

### Calculate the Accumulated Hydrological Status for 3-Months (Quaterly)

After testing the HydroSOS Package and sending the results to Dinagua Web Service, we calculate the accumulated status product

In [7]:
DISCHARGE_THREE_MONTHS = aggvar.calculate_accumulated(MONTHLY_DISCHARGE, 3)
HTML(DISCHARGE_THREE_MONTHS.tail(6).to_html())

In [8]:
QUATERLY_STATUS = SOS.quarterly_status(DISCHARGE_THREE_MONTHS)
HTML(QUATERLY_STATUS.tail(6).to_html())

### Calculate the Accumulated Hydrological Status for 12-Months (Annualy)

After testing the HydroSOS Package and sending the results to Dinagua Web Service, we calculate the accumulated status product

In [9]:
DISCHARGE_TWELVE_MONTHS = aggvar.calculate_accumulated(MONTHLY_DISCHARGE, 12)
HTML(DISCHARGE_TWELVE_MONTHS.tail(6).to_html())

In [10]:
ANNUALY_STATUS = SOS.annualy_status(DISCHARGE_TWELVE_MONTHS)
HTML(ANNUALY_STATUS.tail(6).to_html())

## Test the HydroSOS Package using all the csv file from an input directory

Now we are going to do the same process for all the csv file in the input directory

In [32]:
input_directory = '../data/'
for f in os.listdir(input_directory):
    if f.endswith('.csv'):
        flowdata, stationid = aggvar.import_data(input_directory, filename = f)
        MONTHLY_DISCHARGE = aggvar.calculate_monthly(flowdata)
        MONTHLY_STATUS = SOS.monthly_status(MONTHLY_DISCHARGE)
        SOS.export_csv(MONTHLY_STATUS, output_directory='../output_csv/01_month/',filename = stationid)
        print("==================================================================")

101
There are 44 years of data in this file.
There are 2441 missing data points, which is 14.93% of the total data
CSV FILE GENERATED
==================================================================
1170
There are 44 years of data in this file.
There are 1201 missing data points, which is 7.35% of the total data
CSV FILE GENERATED
==================================================================
1190
There are 43 years of data in this file.
There are 353 missing data points, which is 2.22% of the total data
CSV FILE GENERATED
==================================================================
1230
There are 43 years of data in this file.
There are 1263 missing data points, which is 7.91% of the total data
CSV FILE GENERATED
==================================================================
1330
There are 44 years of data in this file.
There are 1429 missing data points, which is 8.74% of the total data
CSV FILE GENERATED
==================================================================
140
There are 44 years of data in this file.
There are 2833 missing data points, which is 17.49% of the total data
CSV FILE GENERATED
==================================================================
1410
There are 38 years of data in this file.
There are 1874 missing data points, which is 13.44% of the total data
CSV FILE GENERATED
==================================================================
150
There are 44 years of data in this file.
There are 449 missing data points, which is 2.75% of the total data
CSV FILE GENERATED
==================================================================
22060
There are 49 years of data in this file.
There are 87 missing data points, which is 0.48% of the total data
CSV FILE GENERATED
==================================================================
440
There are 44 years of data in this file.
There are 2598 missing data points, which is 15.89% of the total data
CSV FILE GENERATED
==================================================================
511
There are 42 years of data in this file.
There are 103 missing data points, which is 0.67% of the total data
CSV FILE GENERATED
==================================================================
520
There are 44 years of data in this file.
There are 150 missing data points, which is 0.93% of the total data
CSV FILE GENERATED
==================================================================
531
There are 42 years of data in this file.
There are 1095 missing data points, which is 7.01% of the total data
CSV FILE GENERATED
==================================================================
591
There are 40 years of data in this file.
There are 790 missing data points, which is 5.39% of the total data
CSV FILE GENERATED
==================================================================
651
There are 40 years of data in this file.
There are 274 missing data points, which is 1.88% of the total data
CSV FILE GENERATED
==================================================================
820
There are 36 years of data in this file.
There are 5859 missing data points, which is 44.24% of the total data
CSV FILE GENERATED
==================================================================
970
There are 44 years of data in this file.
There are 1381 missing data points, which is 8.45% of the total data
CSV FILE GENERATED
==================================================================

Now, we'll create json files using the csv files from all the stations

In [33]:
SOS.csv_to_json('../output_csv/01_month','../output_json/01_month')

JSON FILE GENERATED

## Send the results to Dinagua Web Service for publishing

After creating the json file for the corresponding year-month, we will update the Web Service using the following process

In [36]:
# Ambiente produccion
url_base = 'https://www.ambiente.gub.uy/dinaguaws/'
# Username and password
user_dinagua = {"user":"FEWS-Uruguay","password":"4MEzOeKFgp0pj9lATSIF"}
# Get the token from DINAGUA WS
response_token = requests.post(url=url_base + "gettoken", json=user_dinagua, verify=False);
response_token.close()
# Extract token and assign it to a variable
token = response_token.text
# Add the token to a bearer authorization
headers = {"Authorization" : "Bearer " + token}

POST Method for creating the filter Id

In [37]:
# Locate the corresponding json file
json_file = '../output_json/01_month/2024-09.json'
# Define Parameters
date_name = json_file.split('/')[-1].split('.')[0]
cat_scale = 1
ts = "Estaciones"

# create the json dictonary
dataFiltro = {"fecha": date_name,"temporalidad": cat_scale,"serietemporal": ts}

# POST Save Filter
post_filtro = requests.post(url=url_base + "estadohidro/datoscat/guardarFiltro", headers = headers, json=dataFiltro, verify=False)
post_filtro.close()
print(post_filtro.text)

Filtro guardado con éxito

GET Method for extracting the FilterID

In [38]:
# Create the json dictonary
params_filtros = {"fecha" : date_name, "temporalidad" : cat_scale, "serietemporal" : ts}
# Send requests
get_filtro_id = requests.get(url = url_base + "estadohidro/filtros",headers=headers, params=params_filtros, verify=False)
get_filtro_id.close()
# print id
id = json.loads(get_filtro_id.content.decode('utf-8'))
id = id[0]["id"]
print(id)

34

POST HydroSOS Status for the corresponding Month/Year

In [39]:
# Creating the Request Body
datosCat = {"filtrosId": {id}}
# importing the json file from the output directory
json_body = open(json_file)
json_body = json.load(json_body)
# POST HydroSOS status 
post_estado = requests.post(url=url_base+"estadohidro/datoscat/guardarDatosCat",headers=headers,params=datosCat,json=json_body,verify=False)
post_estado.close()
print(post_estado.text)

DatosCat guardado con éxito

We are going to see if the hydrological status is correctly added in the service

In [40]:
params_status = {"serietemporal": ts, "fecha": date_name, "temporalidad": cat_scale}
get_status = requests.get(url=url_base+"estadohidro/datoscat",headers=headers,params=params_status,verify=False)
get_status.close()
# Convert it to json and dataframe
response_status = json.loads(get_status.content.decode('utf-8'))